<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="basepage">
<head>
    <title th:include=":: #page-title"></title>
    <!-- metas, link and scripts -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/icon/open-iconic/font/css/open-iconic-bootstrap.css}" rel="stylesheet">
    <link th:replace="~{:: cssFragment} ?: _">
</head>
<body>
<div th:replace="~{components/Header :: header}"></div>
<div id="App">
    <div th:if="${message != null}" class="container" style="position: fixed; top: 64px; z-index: 99; left: 0; right: 0; max-width: 640px">
        <div th:object="${message}" class="alert alert-dismissible fade show" th:classappend="'alert-' + *{type}" role="alert">
            <strong th:text="*{title}"></strong>
            <p th:text="*{content}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:replace=":: #Content"></div>
    <footer th:replace="~{components/Footer :: footer}"></footer>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script th:replace="~{:: jsFragment} ?: _"></script>
</body>
</html>