<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">
<head>
    <title id="page-title">Home</title>
    <link th:fragment="cssFragment" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css" />
</head>
<body>
<div id="Content" class="container-full-bg">
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Sistem Informasi Kepegawaian</h1>
                    <h3>Selamat Datang di Sistem Informasi Kepegawaian</h3>
                </div>
                <hr>
                <div class="col-12">
                    <div class="card-column">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h2>Lihat Data Pegawai Berdasarkan NIP</h2>
                                <form th:method="GET" th:action="@{/pegawai}">
                                    <div class="form-group">
                                        <label for="nipInput">Nomor Induk Pegawai (NIP)</label>
                                        <input type="text" required pattern="^[0-9]+$" class="form-control"
                                               id="nipInput" name="nip" placeholder="Nomor NIP"
                                               aria-describedby="nipHelper"/>
                                        <small id="nipHelper" class="form-text text-muted">Masukan nomor Induk Pegawai
                                            (NIP)
                                        </small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Lihat</button>
                                </form>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card-body">
                                <h2>Lihat Detail Jabatan</h2>
                                <form th:method="GET" th:action="@{/jabatan}">
                                    <div class="form-group row-fluid">
                                        <label for="jabatanInput">Pilih Jabatan</label>
                                        <select class="form-control selectpicker" id="jabatanInput" name="id" required
                                                data-show-subtext="true" data-live-search="true">
                                            <th:block th:each="jabatan : ${jabatanList}">
                                                <option th:value="${jabatan.id}" th:text="${jabatan.nama}" th:attr="data-subtext=${jabatan.nama}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Lihat</button>
                                </form>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card-body">
                                <h2>Lihat Pegawai Tertua dan Termuda</h2>
                                <form th:method="GET" th:action="@{/pegawai/termuda-tertua}">
                                    <div class="form-group">
                                        <label for="instansiInput">Pilih Instansi</label>
                                        <select class="form-control custom-select" id="instansiInput" name="idInstansi"
                                                required aria-describedby="instansiInputHelper"
                                                data-show-subtext="true" data-live-search="true">
                                            <th:block th:each="instansi : ${instansiList}">
                                                <option th:value="${instansi.id}" th:text="${instansi.nama}" th:attr="data-subtext=${instansi.nama}"></option>
                                            </th:block>
                                        </select>
                                        <small id="instansiInputHelper" class="form-text text-muted">Cari pegawai tertua dan termuda berdasarkan instansi</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Lihat</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:fragment="jsFragment">
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').selectpicker();
        })
    </script>
</th:block>
</body>
</html>