<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">
<head>
    <title id="page-title" th:text="'Detail Jabatan - ' + ${jabatan.getNama()}"></title>
</head>
<body>
    <div id="Content" class="container-full-bg my-5">
        <div class="container vertical-center" style="padding-top: 32px;">
            <h1 th:text="'Detail Jabatan ' + ${jabatan.getNama()}"></h1>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Nama</strong>
                        <div th:text="${jabatan.getNama()}"></div>
                    </li>
                    <li class="list-group-item">
                        <strong>Deskripsi</strong>
                        <div th:text="${jabatan.getDeskripsi()}"></div>
                    </li>
                    <li class="list-group-item">
                        <strong>Gaji Pokok</strong>
                        <div th:text="'Rp' + ${jabatan.getGajiPokok()}"></div>
                    </li>
                    <li class="list-group-item">
                        <strong>Jumlah Pegawai</strong>
                        <div th:text="${jabatan.getNumberOfPegawai()} + ' orang'"></div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="row">
                        <a th:href="@{/jabatan/ubah(idJabatan=${jabatan.getId()})}" class="btn btn-secondary mr-2">
                            <span class="oi oi-pencil"></span>
                            Ubah
                        </a>
                        <form th:action="@{/jabatan/hapus}" th:object="${jabatan}" id="hapusJabatan" method="post">
                            <input type="hidden" th:field="*{id}">
                            <button type="submit" class="btn btn-danger">
                                <span class="oi oi-trash"></span>
                                Hapus
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>