<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">
<head>
    <title id="page-title" th:text="'Detail Pegawai - ' + ${pegawai.getNama()}"></title>
</head>
<body>
<div id="Content" class="container-full-bg mb-5">
    <div class="container vertical-center" style="padding-top: 32px;">
        <h1 th:text="'Pegawai - ' + ${pegawai.getNip()}"></h1>
        <div th:include="~{components/Pegawai :: pegawaiDetail(pegawaiBeanName='pegawai')}">
        </div>
    </div>
</div>
</body>
</html>