<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404 Not found</title>
</head>
<body style="display: flex; min-height: 100vh">
    <div style="display: flex; margin: auto; flex-direction: column;">
        <img style="width: 64px; height: 64px; margin: auto; margin-bottom: 24px;" th:src="@{/icon/open-iconic/svg/compass.svg}">
        <h1 style="margin: auto">Yang kamu cari tidak ditemukan</h1>
        <a style="margin: auto; margin-top: 16px;" th:href="@{/}">Kembali ke halaman utama</a>
    </div>
</body>
</html>